<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'search_news/style.css' %}" />

<meta charset="utf-8">
<head>
    <title> News Reader </title>
</head>

<body>

  <div id="sidebar">
    <ul id="menu">
      <li>
        <a href="/"> home</a>
      </li>
      <li>
        <a href="http://www.ub.edu/web/ub/galeries/imatges/noticies/2010/10/josepabril.JPG_1668829180.jpg" target="_blank">sergio</a>
      </li>
      <li>
        <a href="index.html">my</a>
      </li>
      <li>
        <a href="#">cameras</a>
      </li>
    </ul>

  </div>
    <div id="header">
        <img src="{% static 'search_news/Images/cutre.jpg' %}", alt="mec">
	<h1 class="title"> EL NOTISIARIO </h1>

	<a href="register"> Sign Up </a>
	<a href="default.asp" target="_blank">This is a link</a>

    </div>
    <div id="content">
      <div id="text_content">
        {% block content %}
        <!-- This will be filled by index.html template -->
        {% endblock %}
      </div>
    </div>

<footer id="footer">
  <p> copyright </p>
</footer>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
<script src="{% static 'search_news/js/jquery.js' %}"></script>
<script src="{% static 'search_news/js/expand.js' %}"></script>
<script src="{% static 'search_news/js/backtop.js' %}"></script>
<script src="{% static 'search_news/js/overlay.js' %}"></script>
</body>

</html>
