<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'search_news/style.css' %}" />


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title> NewIt! </title>
</head>

<body>


  <aside class="sidebar-left-collapse">

    <a href="{% url 'index_view' %}" class="company-logo" ><img src="{% static 'search_news/Images/newit_logo.png' %}", alt="mec"></a>

    <div class="sidebar-links">
    {% if user.is_authenticated %}
      <div class="link-blue">

        <a href="#">
          <i class="fa fa-picture-o"></i>Subscriptions
        </a>

        <ul class="sub-links">
            {% block s_subs %}
            {% endblock %}

        </ul>

      </div>
    {% endif %}
      <div class="link-blue">

        <a href="#">
          <i class="fa fa-heart-o"></i>Feeds
        </a>

        <ul class="sub-links">
          {% block f_subs %}
          {% endblock %}
        </ul>

      </div>
    {% if user.is_authenticated %}
      <div class="link-blue">

        <a href="#">
          <i class="fa fa-keyboard-o"></i>Bookmarks
        </a>

        <ul class="sub-links">
          <li  class="sidebar_element"><a href="{% url 'user_bookmarks' %}">My Bookmarks</a></li>
        </ul>

      </div>
    {% endif %}
      <div class="link-blue">

        <a href="#">
          <i class="fa fa-map-marker"></i>Account
        </a>

        <ul class="sub-links">
            {% if user.is_authenticated %}
                <li class="sidebar_element"><a href="{% url 'user_subscriptions' %}">Subscription Manager</a></li>
                <li class="sidebar_element"><a href="{% url 'feed_subscriptions' %}">Feeds Manager</a></li>
                <li class="sidebar_element"><a href="{% url 'change_password' %}">Change Password</a></li>
                <li class="sidebar_element"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="sidebar_element"><a href="{% url 'login' %}">Sign in</a></li>
                <li class="sidebar_element"><a href="{% url 'register' %}">Sign up</a></li>
            {% endif %}
        </ul>

      </div>

    </div>

  </aside>


      <div id="user">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log out</a> </li>
                <div id="username">{{ user }}</div>
            {% else %}
                <a href="{% url 'register' %}">Sign Up</a>
                <a href="{% url 'login' %}">Sign In</a>
            {% endif %}
      </div>




    </div>
    <div id="content">
      <div id="text_content">
        {% block content %}
        <!-- This will be filled by index.html template -->
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy: NewIt! is licensed under a
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution NonCommercial ShareAlike 4.0 International License.</a> | <a href="http://bit.ly/1twiGoQ">About</a></p>
    </div>



<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
<script src="{% static 'search_news/js/jquery.js' %}"></script>
<script src="{% static 'search_news/js/expand.js' %}"></script>
<script src="{% static 'search_news/js/backtop.js' %}"></script>
<script src="{% static 'search_news/js/overlay.js' %}"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script>

    $(document).ready(function(e){
      $('.search-panel .dropdown-menu').find('a').click(function(e) {
          e.preventDefault();
          var param = $(this).attr("href").replace("#","");
          var concept = $(this).text();
          $('.search-panel span#search_concept').text(concept);
          $('.input-group #search_param').val(param);
      });
    });
  </script>

  <script>

    $(function () {

      var links = $('.sidebar-links > div');

      links.on('click', function () {
        if($(this).hasClass("selected")) {
          $(this).removeClass('selected');
        } else {
          links.removeClass('selected');
          $(this).addClass('selected');
        }
      });
    });

  </script>

  </body>

</html>
