<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'search_news/style.css' %}" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<meta charset="utf-8">
<head>
    <title> NewIt! </title>
</head>

<body>

  <div id="sidebar">
      <ul id="menu">
          <li><a href="/">Subscriptions</a></li>
          <li><a href="http://www.ub.edu/web/ub/galeries/imatges/noticies/2013/11/Josep_Abril.JPG_72440206.jpg">Perl is awesome</a></li>
      </ul>




  </div>

  <div id="header">
      <a href="/"><img src="{% static 'search_news/Images/cutre.jpg' %}", alt="mec"></a>
      <div id="user">
            {% if user.is_authenticated %}
                <a href="/accounts/logout">Log out</a> </li>
                <div id="username">{{ user }}</div>
            {% else %}
                <a href="/accounts/login">Sign In</a>
                <a href="/accounts/register">Sign Up</a>
            {% endif %}
      </div>
  </div>



    </div>
    <div id="content">
      <div id="text_content">
        {% block content %}
        <!-- This will be filled by index.html template -->
        {% endblock %}
      </div>
    </div>



<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
<script src="{% static 'search_news/js/jquery.js' %}"></script>
<script src="{% static 'search_news/js/expand.js' %}"></script>
<script src="{% static 'search_news/js/backtop.js' %}"></script>
<script src="{% static 'search_news/js/overlay.js' %}"></script>
</body>

</html>
