<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'search_news/myerror.css' %}"> 

<head>
  <title>
    ERROR 404
  </title>
</head>

<body>
  <!--img id="logo_newit" src="bona2.png"/-->
  <h1 id="header_error"> Sorry, we could not find this page...</h1>
  <br><br><br>

  <div id="princ_error">
    <br><br>
    <img class="center_error" src="{% static 'search_news/Images/dino.gif' %}"/>
    <a href="{% url 'index_view' %}"><p id="header2_error">            </p></a>
    <br>
  </div>
</body>
</html>
