{% extends 'search_news/base.html' %}
{% load staticfiles %}

{% block content %}

    {% if user.is_authenticated %}
    {{msg}}
        <h1>Feeds Manager</h1>

        <!-- PRINT ALL FEEDS -->
        <form action="{% url 'feed_subscriptions' %}" method="POST">
            {% csrf_token %}

            {% for item in feeds %}
                <div class="search_subs">
                    <a href="{{item.homepage}}"  target="_blank">
                        <img class="newhome" src="{% static 'search_news/Images/news_home.png' %}"/>
                    </a>
                    <a href="{% url 'news' item.name %}">
                        <img class="logo_feed" src="{% static 'search_news/Images/logos_sources/' %}{{item.logo}}"/>
                    </a>
                    {% if item.name in black_list %}
                    <div class="search_button_subs">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="s_{{item.name}}" value="1">ON
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="s_{{item.name}}" value="0" checked>OFF
                            </label>
                        </div>
                    </div>
                    {% else %}
                    <div class="search_button_subs">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="s_{{item.name}}" value="1" checked>ON
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="s_{{item.name}}" value="0">OFF
                            </label>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" data-inline="true" value="Save" class="sub_but">
            <a href = "{% url 'index_view' %}">
                <input type="button" data-inline="true" value="Cancel" class="sub_but">
            </a>

        </form>







    {% else %}
        ERROR: Log in.


    {% endif %}



{% endblock %}











{% block s_subs %}

{% if subscriptions %}
    {% for sub in subscriptions %}
        <li class="sidebar_element"><a href="/?sterm={{ sub.keyword }}&categ={{ sub.category }}">{{ sub.keyword }} | {{ sub.category }}</a> </li>
    {% endfor %}
{% endif %}

{% endblock s_subs %}

{% block f_subs %}
    {% for feed in feeds %}
        {% if feed.name not in black_list %}
            <li class="sidebar_element"><a href="{% url 'news' diario=feed.name %}">{{feed.name}}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}
