{% extends 'search_news/base.html' %}
{% load staticfiles %}

{% block content %}

    {% if user.is_authenticated %}
    {{msg}}
        <h1>Feeds Manager</h1>

        <!-- PRINT ALL FEEDS -->
        <form action="{% url 'feed_subscriptions' %}" method="POST">
            {% csrf_token %}

            {% for item in all_feeds %}
                <div class="search_subs">
                    <b>{{ item.name }}</b>
                    <img class="logo_feed" src="{% static 'search_news/Images/logos_sources/' %}{{item.logo}}"/>
                    {% if item.name in black %}
                    <div class="search_button_subs">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="s_{{item.name}}" value="1">YES
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="s_{{item.name}}" value="0" checked>NOPE
                            </label>
                        </div>
                    </div>
                    {% else %}
                    <div class="search_button_subs">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="s_{{item.name}}" value="1" checked>YES
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="s_{{item.name}}" value="0">NOPE
                            </label>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" data-inline="true" value="Save" class="sub_but">

        </form>







    {% else %}
        ERROR: Log in.


    {% endif %}



{% endblock %}











{% block s_subs %}

{% if subscriptions %}
    {% for sub in subscriptions %}
        <li><a href="/?sterm={{ sub.keyword }}&categ={{ sub.category }}">{{ sub.keyword }} | {{ sub.category }}</a> </li>
    {% endfor %}
{% endif %}

{% endblock s_subs %}
