{% extends 'search_news/base.html' %}
{% load staticfiles %}

{% block content %}

    <h1> {{ diario }} </h1>
    <form action="" method="get">
        {% csrf_token %}
        <p> {{ form.categ }} </p>
        <p> {{ form.sterm }} <input type="submit" value="Busca" class="search_button"/> </p>
    </form>

    {% if error %}
        {{ error }}
    {% else %}

        {% if news %}
            <h2>{{count}} Noticias:
                {% if term %} {{ term }} {% endif %}
                {{ category }}
            </h2>
            {% if user.is_authenticated %}
                {% if not is_subs %}
                    {% if term or category %}
                        <form action="{% url 'subscribed' %}" method="POST">
                            {% csrf_token %}
                            <input name="sub_sterm" type="hidden" value="{{ term }}" />
                            <input name="sub_category" type="hidden" value="{{ category }}" />
                            <input name="sub" type="submit" value="Subscribe" />
                        </form>
                    {% endif %}
                {% else %}
                    <h3> You're subscribed </h3>
                {% endif %}
            {% endif %}

            {% for item in news %}

            <div class="small-news">
                <h1> {{ item.title }} </h1>
                <p> {{ item.pubdate }} </p>
                <p> {{ item.source }}  {{ item.category }} </p>
            </div>

            <div class="news-overlay">
                <span class="close-overlay">x</span>

                <h1>
                    <a href="{{ item.link }}" target="_blank"><img id="link" src="{% static 'search_news/Images/link.svg' %}"/ width="6%" height="6%"></a>
                    {{ item.title }}
                </h1>
                <a    href="#"
                      title="Click to share this post on Twitter"
                      onclick="window.open('http://twitter.com/home?status={{item.link}}+via+@NewIt','name','width=600,height=400')">
                      <img id="twitter" src="{% static 'search_news/Images/tweet.png' %}"/ width="10%" height="7%">
                </a> <br>
                <p> {{ item.pubdate }} </p>
                <p> {{ item.source }}  </p>
                <p> {{ item.category }} </p>
                <p> {% autoescape off %} {{ item.content }} {% endautoescape %} </p>
            </div>

            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if news.has_previous %}
                        <a href="?sterm={{ term }}&categ={{ category }}&page={{ news.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ news.number }} of {{ news.paginator.num_pages }}.
                    </span>

                    {% if news.has_next %}
                        <a href="?sterm={{ term }}&categ={{ category }}&page={{ news.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endif %}


    <a href="#0" class="cd-top">Top</a>

<footer id="footer">
  <p> copyright </p>
</footer>
{% endblock content %}

{% block s_subs %}

{% if subscriptions %}
    {% for sub in subscriptions %}
        <li><a href="/?sterm={{ sub.keyword }}&categ={{ sub.category }}">{{ sub.keyword }} | {{ sub.category }}</a> </li>
    {% endfor %}
{% endif %}

{% endblock s_subs %}
