{% extends 'search_news/base.html' %}

{% block content %}

    <h4> ¿Qué te interesa? </h4>
    <form action="" method="get">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="¡Busca!" />
    </form>

    {% if error %}
        {{ error }}
    {% else %}
        {% if news %}
            <h2> Noticias:
                {% if term %} {{ term }} {% endif %}
                {{ category }}
            </h2>

            {% for item in news %}
            <div class="wrapper">
                <div class="small-news">
                    <a href="{{ item.link }}"> {{ item.title }} </a>
                    <p> {{ item.pubdate }} </p>
                    {% autoescape off %} {{ item.content }} {% endautoescape %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endif %}


{% endblock content %}
