{% extends 'search_news/base.html' %}
{% load staticfiles %}

{% block content %}


    <div class="search_bar">

    <form action="{{ request.path }}" method="GET">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-0">

            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Select category... </span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#" class="selected">Todo</a></li>
                      <li class="divider"></li>
                      <li><a href="#Cultura">Cultura</a></li>
                      <li><a href="#Deportes">Deportes</a></li>
                      <li><a href="#Economia">Economia</a></li>
                      <li><a href="#Internacional">Internacional</a></li>
                      <li><a href="#Opinion">Opinion</a></li>
                      <li><a href="#Politica">Politica</a></li>
                      <li><a href="#Tecnologia">Tecnologia</a></li>
                    </ul>
                </div>

                <input type="hidden" name="categ" id="search_param">

                <input type="text" class="form-control" name="sterm" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>

            </div>
        </div>
    </div>
    </form>
    </div>


    {% if error %}
        {{ error }}
    {% else %}

        {% if news %}
            <h2>
                {% if diario and term and category %}
                	{{diario}} - Results for "{{term}}" in {{category}}
                {% elif diario and term and not category %}
                	{{diario}} - Results for "{{term}}"
                {% elif diario and not term and not category %}
                	{{diario}}
                {% elif term and category and not diario %}
                	Results for "{{term}}" in {{category}}
                {% elif term and not category and not diario %}
                	Results for "{{term}}"
                {% elif category and not term and not diario %}
              		{{category}}
              	{% else %}
              		Home
              	{% endif %}

            </h2>

            {% if user.is_authenticated %}
                {% if term or category %}
                    {% if not is_subs %}
                        <form action="{% url 'subscribed' %}" method="POST">
                            {% csrf_token %}
                            <input name="sub_sterm" type="hidden" value="{{ term }}" />
                            <input name="sub_category" type="hidden" value="{{ category }}" />
                            <button name="sub" type="submit" class="sub_but" >Subscribe!</button>
                        </form>
                    {% else %}
                        <form action="{% url 'unsubscribed' %}" method="POST">
                            {% csrf_token %}
                            <input name="sub_sterm" type="hidden" value="{{ term }}" />
                            <input name="sub_category" type="hidden" value="{{ category }}" />
                            <button name="unsub" type="submit" class="sub_but" >Unsubscribe </button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
            <br>
            <p>
            {% if count == 1 %} {{ count }} Story:
            {% else %} {{ count }} Stories: {% endif %}

            </p>
            {% for item in news %}

            <div class="small-news">
                <h1> {{ item.title }} </h1>
                <p> {{ item.pubdate }} </p>
                <p> {{ item.source }}  {{ item.category }} </p>
            </div>

            <div class="news-overlay">
                <div class="close-overlay">x</div>
                {% if user.is_authenticated and item.link not in bookmarks %}

                    <button     href="#"
                                name = "book"
                                title="Click to save this article"
                                onclick="window.open(`{% url 'user_booked' %}?art={{ item.link }}`,'booked','width=600,height=400')"
                                type = "submit"
                                method = "GET"
                                class="bookmark" 
                    ><img src="{% static 'search_news/Images/bookmark_icon.png' %}">
                    </button><br>
                {% elif user.is_authenticated and item.link in bookmarks %}
                    <button     href="#"
                                type = "submit"
                                class="bookmark" 
                    ><img src="{% static 'search_news/Images/bookmark_full.png' %}">
                    </button><br>
                {% endif %}

                <h1>
                    <a href="{{ item.link }}" target="_blank"><img id="link" src="{% static 'search_news/Images/link.svg' %}"/ width="6%" height="6%"></a>
                    {{ item.title }}
                </h1>
                <a    href="#"
                      title="Click to share this post on Twitter"
                      onclick="window.open('http://twitter.com/home?status={{item.link}}+via+@NewIt','name','width=600,height=400')">
                      <img id="twitter" src="{% static 'search_news/Images/tweet.png' %}"/ width="10%" height="7%">
                </a><br>

                <p> {{ item.pubdate }} </p>
                <p> {{ item.source }}  </p>
                <p> {{ item.category }} </p>
                <p> {% autoescape off %} {{ item.content }} {% endautoescape %} </p>
            </div>

            {% endfor %}

            <ul class="pagination">
                {% if news.has_previous %}
                    <li><a href="?sterm={{ term }}&categ={{ category }}&page={{ news.previous_page_number }}" class="prev">&laquo</a></li>
                {% endif %}
                {% with uprange=news.number|add:"4" dwrange=news.number|add:"-4" %}
                {% for pag in news.paginator.page_range %}
                    {% if pag == news.number %}
                        <li><a href="#" class="active">{{ pag }}</a></li>
                    {% endif %}
                    {% if pag < uprange and pag > dwrange and pag != news.number %}
                        <li> <a href="?sterm={{ term }}&categ={{ category }}&page={{ pag }}" class="page gradient">{{ pag }}</a></li>
                    {% endif %}
                {% endfor %}
                {% endwith %}

                {% if news.has_next %}
                    <li><a href="?sterm={{ term }}&categ={{ category }}&page={{ news.next_page_number }}" class="next">&raquo;</a></li>
                {% endif %}

            </ul>

        {% endif %}
    {% endif %}


    <a href="#0" class="cd-top">Top</a>



{% endblock content %}

{% block s_subs %}

{% if subscriptions %}
    {% for sub in subscriptions %}
        <li><a href="{% url 'index_view' %}?sterm={{ sub.keyword }}&categ={{ sub.category }}">{{ sub.keyword }} | {{ sub.category }}</a> </li>
    {% endfor %}
{% endif %}

{% endblock s_subs %}



{% block f_subs %}
    {% for feed in feeds %}
        {% if feed.name not in black_list %}
            <li><a href="{% url 'news' diario=feed.name %}">{{feed.name}}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}
