{% extends 'search_news/base.html' %}
{% load staticfiles %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Subscription Manager</h1>
        {% if subscriptions %}
            {% if message %}
                {{ message }}
            {% endif %}
            <form action="{% url 'user_subscriptions' %}" method="POST">
                {% csrf_token %}
                {% for sub in subscriptions %}
                    <div class="search_subs">
                        <b>Search Term:</b> {{ sub.keyword }}
                        <div class="search_button_subs">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="s_{{sub.keyword}}||{{sub.category}}" value="1" checked>YES
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="s_{{sub.keyword}}||{{sub.category}}" value="0">NOPE
                                </label>
                            </div>
                        </div>
                        <br>
                        <b>Category:</b> {{ sub.category }}<br>
                    </div>

                {% endfor %}
                <br>
                <input type="submit" data-inline="true" value="Save" class="sub_but">
            </form>
        {% else %}
        {% if message %}
            {{ message }}
        {% endif %}
            <p>You're not subscribed to anything</p>

        {% endif %}







    {% else %}
        ERROR: Log in.


    {% endif %}



{% endblock %}











{% block s_subs %}

{% if subscriptions %}
    {% for sub in subscriptions %}
        <li class="sidebar_element"><a href="{% url 'index_view' %}?sterm={{ sub.keyword }}&categ={{ sub.category }}">{{ sub.keyword }} | {{ sub.category }}</a> </li>
    {% endfor %}
{% endif %}

{% endblock s_subs %}

{% block f_subs %}
    {% for feed in feeds %}
        {% if feed.name not in black_list %}
            <li class="sidebar_element"><a href="{% url 'news' diario=feed.name %}">{{feed.name}}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}
