<html>

{% extends 'search_news/base.html' %}
{% load staticfiles %}

user_articles = {{ user_articles }}


{% block content %}

<p> Hello <b>{{ user }}</b> you have saved this articles:</p>
<br>
<table border=0 cellspacing=2 cellpadding=4 id=supertable>
    <thead>
        <tr>
            <th>Title</th> <!-- aixo son els headers de les columnes-->
            <th>Source</th>
            <th>Pubdate</th>
        </tr>
    </thead>
    <tbody>
{% for article in user_articles %}
    {% for info in article%}
        <tr>
            <td> {{info.title}}     </td>
            <td> {{info.source}}    </td> 
            <td> {{info.pubdate}}   </td>
            <td>                    </td>
        </tr>
    {% endfor %}
{% endfor %}
    </tbody>
</table>
{% endblock content %}

</html>