ul#vmenu {
    list-style-type: none;
    margin: 5%;
    float: left;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li#vmenu a {
    display: block;
    color: #000;
    text-align: center;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li#vmenu a:hover {
    background-color: #333;
    color: white;
}


#header {
    width:90%;
    background-color: red;
    float:left;
    margin: auto;
    height: 20%;
}

#content {
    float: left;
    width: 60%;
    background-color: blue;
}

#sidebar {
    float: left;
    width: 15%;
    height: 90%;
    background-color: #333333;
}


h1 {
    color: #333333;
}

.highlight {
    background-color: #333;
}
