  body {
       background: #fff;
       font-family: Open Sans;
       /*font-size: 14px;*/
       font-weight: normal;
       line-height:1.5;
       margin: 0;
       min-width: 960px;
       padding: 0;
  }
#header {
    float: none;
    position: absolute;
    width:100%;
    background-color: #51b4c2;
    height: 15%;
}

#header h1.title {
	float:left;
	padding-left: 30px;
	padding-top: 30px;
}

#header img {
	width:15%;
	height: auto;
	padding-left: 30px;
	padding-top: 30px;
	float:left;
}

#header a:link, #header a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: static;
    float: right;
    margin-top: 50px;
    margin-right: 30px;
}

#header a:hover, #header a:active {
    background-color: red;
}

#content {
    margin: 0;
    float:right;
    background-color: #EAEAEA;
    padding-right: 0% ;
    padding-top: 100px;
    width: 80%;
    height: auto;
/*    box-shadow: 0 4px 8px 0 #888888, 0 6px 20px 0 #888888;*/
}
#text_content {
  margin: 0;
  width: 100%;
  padding-left: 20px;
}

#sidebar {
    float: left;
    position: fixed;
    margin: 0;
    padding-top: 100px;
    width: 20%;
    height: 100%;
    background-color: #333333;
}

#menu{
    list-style-type: none;
    margin: 0%;
    float: left;
    padding: 1;
    width: 200px;
}

#menu a {
  color: #9ACD32;
  display: block;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
#menu li a:hover {
    color: white;
}

h1 {
    color: #333333;
}

.highlight {
    background-color: #333;
}

#footer {
  background-color: #ffffff;
  margin: 0;
  padding: 0px;
  float:right;
  text-align: right;
  width: 80%;
  height: 2%;
}


.big-news {
    height: auto;
    cursor: pointer;
    width: 70%;
}

.wrapper {
    border-style: solid;
    margin-bottom: 5%;
    width : 75%;
}

.small-news img {
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto
}


/* BACK TO TOP THINGS */
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(Images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/* END OF BACK TO TOP */


/* OVERLAY THINGS */
.news-overlay {
    display: none;
    height: 75%;
    width: 60%;
    position: fixed;
    top: 30px;
    right: 0;
    z-index: 9999;
    background: #333333;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    overflow: scroll;
    overflow-y: scroll;
}

.close-overlay, #click {
    cursor:
    pointer;
}

.close-overlay {
    font-size:16px;
    font-weight: bold;
    padding:20px;
    color: #aaa;
    position: absolute;
    top: 0;
    left:2px
}

.small-news {
    height: 20%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px 10px 5px #888888;
    width: 70%;
    margin: 5%;
    padding-left: 2%;
    padding-bottom: 2%;
}


/* STYLE FOR NEWS SMALL BOX */
.small-news h1 {
    font-size: 18;
}

.small-news p {
    font-size: 14;
}

/* STYLE FOR NEWS OVERLAY */
.news-overlay h1 {
    line-height:1.5;
    color: #EAEAEA;
}

.news-overlay h2 {
    line-height:1.5;
    color: #EAEAEA;
}

.news-overlay h3 {
    line-height:1.5;
    color: #EAEAEA;
}

.news-overlay h4 {
    line-height:1.5;
    color: #EAEAEA;
}

.news-overlay a {
    line-height:1.5;
    color: white;
}

.news-overlay p {
    line-height:1.5;
    color: #EAEAEA;
}


img#link {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out
}
img#link:hover {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

img#twitter {

}

img#twitter:hover {
    opacity: 0.6;
}
