
  body {
       background: #e9eaed;
       font-family: Open Sans;
       /*font-size: 14px;*/
       font-weight: normal;
       line-height:1.5;
       margin: 0;
       min-width: 960px;
       padding: 0;
  }
#header {
    float: none;
    position: absolute;
    width:100%;
    height: 90px;
}

#header h1.title {
	float:left;
	padding-left: 30px;
	padding-top: 10px;
}

#user {
	float: right;
	width: 400px;
	height: 90px;
	position: static;
}

 #username{
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: static;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
 }

#subscribe {
    width: 120px;
    height:40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: red;
}

#user a:link, #user a:visited {
    background-color: #6084D6;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: static;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

#user a:hover, #user a:active {
    background-color: #809EE2;
}

.btn:hover, .btn:focus {
    background: #6084D6 !important;
    color:white !important;
}

.glyphicon-search {
  padding: 3px 0px;
}

.sub_but{
    background-color: #6084D6;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    position: static;
    margin-top: 20px;
    margin-right: 30px;
}



#content {
    margin: 0;
    padding-right: 0% ;
    padding-left: 2%;
    padding-top: 100px;
    margin-left:240px;
    width: 80%;
    height: auto;
}

#text_content {
  margin: 0;
  width: 100%;
  padding-left: 20px;
}

/* -- Sidebar -- */

.sidebar-left-collapse {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #292c2f;
  width: 180px;
  height: 100%;
  padding: 20px 0;
  overflow-y: scroll;
}

/* -- Logo settings -- */
.sidebar-left-collapse > a {
  display: block;
  height: 122px;
  margin: 0 auto;
  color:  #ffffff;
  padding-left: 15px;
}

.company-logo img {
  width: 150px;
  height: auto;
  padding-top: 30px;

}
/* -- /Logo settings -- */

.sidebar-left-collapse .sidebar-links {
  margin: 30px auto;
}

.sidebar-links div > a {
  display: block;
  text-decoration: none;
  margin: 0 auto 5px auto;
  padding: 10px 0 10px 5px;
  background-color: #35393e;
  text-align: left;
  color:  #b3bcc5;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  border-left-width: 2px;
  border-left-style: solid;
}

.sidebar-links div.selected > a{
  background-color: #e9eaed;
  color: #565d63;
  line-height: 2.3;
  margin: 0;
}

.sidebar-links div > a i.fa {
  position: relative;
  font-size: 20px;
  top: 3px;
  width: 40px;
  text-align: center;
}

.sidebar-links div ul.sub-links {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0 0 0 30px;
  color:  #b3bcc5;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  transition: 0.6s;
}

.sidebar-links div.selected ul.sub-links {
  max-height: 4000px;
  padding: 12px 0px 12px 30px;
}

.sidebar-links div .sub-links a {
  text-decoration: none;
  color: #b3bcc5;
  display: block;
  text-align: left;
}

/* Link Colors - Sidebar */

.sidebar-links div.link-blue > a {
  border-color: #6084D6;
}

.sidebar-links div.link-blue > a i.fa {
  color: #6084D6;
}



/* Ni puta idea de que es el highlight */
.highlight {
    background-color: #333;
}

#footer {
  background-color: #ffffff;
  margin: 0;
  padding: 0px;
  float:right;
  text-align: right;
  width: 80%;
  height: 2%;
}


.big-news {
    height: auto;
    cursor: pointer;
    width: 70%;
}

.wrapper {
    border-style: solid;
    margin-bottom: 5%;
    width : 75%;
}

.small-news {
    background-color: white;
}
.small-news img {
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto
}


/* BACK TO TOP THINGS */
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #6084D6 url(Images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 65px;
  }
}
/* END OF BACK TO TOP */


/* OVERLAY THINGS */
.news-overlay {
    display: none;
    height: 90%;
    width: 64%;
    position: fixed;
    top: 30px;
    right: 18%;
    z-index: 9999;
    background: #e9eaed;
    padding-left: 5%;
    padding-top: 0%;
    padding-right: 5%;
    padding-bottom: 5%;
    overflow: scroll;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 0px 180px 120px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 180px 120px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 180px 120px rgba(0,0,0,0.75);
}

.close-overlay, #click {
    cursor:
    pointer;
}

.close-overlay:hover {
    opacity: 0.2;
}

.close-overlay {
    font-size:16px;
    font-weight: bold;
    padding:20px;
    color: black;
    position: fixed;
    top: 30px;
    left: 18%;
}

.small-news {
    height: 20%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px 10px 5px #888888;
    width: 70%;
    margin: 5%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.bookmark {
  background: none;
  height: 100px;
  width: 80px;
  border: none;
  position: static;
  float: right;
  right: 23%;
  bottom: 10px;

}

.bookmark img {
  height: 100px;
  width: 100px;
  display: block;
  margin-right: 10px;
}


/* STYLE FOR NEWS SMALL BOX */
.small-news h1 {
    font-size: 18;
}

.small-news p {
    font-size: 14;
}

/* STYLE FOR NEWS OVERLAY */
.news-overlay h1 {
    line-height:1.5;
    color: black;
}

.news-overlay h2 {
    line-height:1.5;
    color: black;
}

.news-overlay h3 {
    line-height:1.5;
    color: black;
}

.news-overlay h4 {
    line-height:1.5;
    color: black;
}

.news-overlay a {
    line-height:1.5;
}

.news-overlay p {
    line-height:1.5;
    color: black;
}


img#link {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out
}
img#link:hover {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

img#twitter {

}

img#twitter:hover {
    opacity: 0.6;
}

/* ------ PAGINEITOOOOOOOOR ---- plus! --- */

ul.pagination {
margin-left: 270px;
}
.pagination a.active {
  background: #6084D6;
  color: white;
}
.pagination a:active a:hover {
  outline: none;
  background: #6084D6;
}

/*===================================================================
#                      LOGIN LOGOUT STYLES
#===================================================================*/

.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
    text-align: center;
    width: 150px;
    margin-top: 75px;
    margin-bottom: 150px;
    margin-left: 400px;
    margin-right: 150px;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 5px 10px;
}


#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}


#signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

/*===================================================================
//                      BOOKMARK STYLES
//===================================================================*/
.freddie {
    background-position: right;
    padding-top: 50px;
    padding-left: 50px;
    height: 400px;
    width: 600px;
    background-image: url('Images/bookmarked.png');
    background-size:50%;
    background-repeat: no-repeat;
    background-color: #e9eaed;
}

.freddie-text {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


.search_subs {
    height: 20%;
    background: white;
    overflow: hidden;
    box-shadow: 10px 10px 5px #888888;
    width: 70%;
    margin: 5%;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.search_button_subs {
    float:right;
    margin-right: 5%;
    margin-top: 5%;
}

.logo_feed {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    margin-top: 20px;
    width: 30%;
    margin-left: 35px;
}

.newhome {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    margin-top: 20px;
    width: 5%;
    text-decoration: none;
    border: 0;
}

.newhome:hover {
    opacity: 0.5;
    text-decoration: none;
    border: 0;
}

.logo_feed:hover {
    opacity: 0.5;
}


.supertable {color: #444; width: 790px; padding: 0 10px 10px 10px; margin-top: 10px; border-spacing: 1rem; border-collapse: collapse;}
.supertable td{
    border-width: 1px 0;
    border-color: #000;
    border-style: solid;
    font-size: 10px;
}


#footer {
	text-align: center;
	background-color: #cccccc;
	width: 89%;
	height: 40px;
	overflow: hidden;
}

#footer p{

	margin: 0px;
	padding: 10px 0px 0px 0px;
	text-align: center;
	text-shadow: 1px 1px 0px #FFFFFF;
	font-size: 13px;
	color: #5E5C5C;


}

#subtitle_index{
    font-size: 16px;
    font-family: Garamond;
    font-style: italic;
    color: #333333;
}
#subtitle_index a {
    color: #333333;
}
#footer a {
	color: #5E5C5C;
}

.change_pass {
    font-size: 13px;
    color: #8f8f8f;

}
