<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'search_news/style.css' %}" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>

<meta charset="utf-8">
<head>
    <title> NewIt! </title>
</head>
<body>

<form action="{% url 'register' %}" method="post" id="signup">{% csrf_token %}
{% csrf_token %}

{% if form.errors %}
    <p>Your Username or Password were not entered correctly. Please try again.</p>
{% endif %}

<div class="header">    
    <h3>Register</h3>        
    <p>Register and join NewIt!</p>    
</div>
        <div class="sep"></div>

        <div class="inputs">
<br>
<tr>
	<td>{{form.username.label_tag}}</td>
	<td>{{ form.username }}</td>
    <td>{{ form.username.errors }}</td>
</tr>
<br>
<tr>
    <td>{{ form.password1.label_tag }}</td>
    <td>{{ form.password1 }}</td>
    <td>{{ form.password1.errors }}</td>
</tr>
<tr>
    <td>{{ form.password2.label_tag }}</td>
    <td>{{ form.password2 }}</td>
    <td>{{ form.password2.errors }}</td>
</tr>
<br>

<input id="submit" type="submit" value="Register">
<br>
<div class="sep"></div>
<div id="user" >
	<p style="font-size: 12px"> If you are registered, please log in and enjoy!</p>
    <a href="{% url 'login' %}" style="margin-left: 150px; margin-right: 150px; margin-top: 5px">Log in</a>
</div>

</div>
</form>